.main_wrapper {
  position: relative;
  transition: 500ms;
  left: 0;
  background-image: url(../../assets/image/002.jpg);
  background-position: center -20vh;
  min-height: calc(100vh - 30px * 2);
  width: 100%;
  background-repeat: no-repeat;
  flex-direction: column;
  display: flex;
  .main_logo {
    background-image: url(../../assets/svg/art.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 440px;
    height: 164px;
    margin-top: 10vh;
    align-self: center;
    @media (max-width: 1024px){
      width: 320px;
      height: 120px;
    }
    @media (max-width: 768px){
      width: 166px;
      height: 62px;
    }
  }
}
.hide{
  left: 100%;
}
.select_wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  align-content: center;
}
.select_item {
  color: #ffffff;
  width: 268px;
  height: 56px;
  border: 1px solid #ffffff;
  margin: 10px;
  background: transparent;
  cursor: pointer;
  border-radius: 56px;
  text-align: center;
  font-size: 22px;
  transition: 0.1s;
  &:hover{
    background: #ffffff;
    color:#000;
  }
}
.main_bottom {
  display: flex;
  justify-content: end;
  margin: 0px auto;
  width: calc(100% - 60px);
  padding: 20px;
}
.button {
  color: #ffffff;
  width: 34px;
  height: 34px;
  background: transparent;
  border: none;
  cursor: pointer;
  img{
    width: 34px;
    height: 34px;
    transition-duration: 0.5s;
    &:hover {
      transform: rotate(180deg);
      transition-duration: 0.5s;
    }
  }
}
.hide{
  left: 100%;
}
