.card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 304px;
  height: 280px;
  padding: 0;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid #278D9F;
  background-color: rgba(31, 112, 127, .3);
  backdrop-filter: blur(6px);
  cursor: pointer;
  .card__title{
    width: 100%;
    font-size: 20px;
    // font-stretch: condensed;
    padding-left: 10px;
    margin: auto 0;
  }
  .card-img{
    width: 90px;
    height: 112px;
    object-fit: contain;
    pointer-events: none;
    margin: 20px auto 0;
  }
  .card__info{
    width: 195px;
    margin-top: -20px;
    padding-left: 10px;
    pointer-events: none;
    line-height: 2;
    user-select: none;
    margin: auto 0;
    p{
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  .mark{
    position: absolute;
    top: 210px;
    width: 80px;
    height: 40px;
    background: #24C5DB;
    left: -8px;
    &:active{
      background: #CBB77A;
    }
  }
}