$color-header-footer: #121C1E;
$height-header: 70px;
$height-footer: 70px;
$color-text: #fff;
$font-family-main: 'Open Sans', sans-serif;
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html{
  overflow-x: hidden;
}
body{
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  max-width: 100vw;
  font-family: $font-family-main;
  line-height: 1.5;
  color: $color-text;
}
.header {
  background-color: $color-header-footer;
  height: $height-header;
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    max-width: 1550px;
    margin: 0 auto;
    height: 100%;
  }
}
.main {
  min-width: 100%;
  min-height: calc(100vh - 140px);
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  .background-blur{
    background: rgba(22, 41, 41, 0.5);
    backdrop-filter: blur(3px);
    .main__container {
      height: 100%;
      width: 100% ;
    }
    .card__container{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      width: 100%;
      max-width: 1600px;
      width: 100% ;
      margin: 0 auto;
      padding-bottom: 40px;
    }
  }
}
.footer {
  background-color: $color-header-footer;
  height: $height-footer;
  .footer__container {
    max-width: 1550px;
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer__name{
      display: flex;
      gap: 30px;
      .github{
        text-decoration: none;
        color: $color-text;
        transition: .3s;
        &:hover, &:active{
          color: #278D9F
        }
      }
    }
    .footer__school{
      width: 160px;
      height: 60px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(../assets/svg/rss.svg);
      transition: .3s;
      &:hover {filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(141deg) brightness(89%) contrast(90%);
    }
    }
  }
}
