.wrapper{
  position: relative;
  transition: 500ms;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 35vw;
  .block_pictures{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 20px;
    position: relative;
    button{
      width: 100%;
      border: none;
      padding: 0;
      border-radius: 20px;
      img{
        margin-bottom: -10px;
        object-fit: cover;
        border-radius: 20px;
        width: 100%;
        cursor: pointer;
        transition: 0.1s;
        min-height: 25vh;
        &:hover{
          transform: scale(1.03);
        }
      }
    }
  }
}
.hide{
  left: 100%;
}