.settings {
  position: relative;
  transition-duration: 500ms;
  left: 0;
  padding: 30px 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: calc(100% - 60px);
  margin: 0 auto;
  justify-content: space-between;
  min-height: calc(100vh - 60px);
  .time_block, .volume_block{
    display: flex;
    gap: 20px;
    align-items: center;
    .checkbox-group{
      border: none;
      position: relative;
      width: 48px;
      height: 24px;
      background-color: var(--tertiary-color);
      border-radius: 24px;
      box-shadow: inset 0px 1px 1px rgb(0 0 0 / 50%), 0px 1px 0px rgb(255 255 255 / 20%);
    }
    .time_game{
      visibility: hidden;
    }
    .label_checkbox{
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50px;
      background-color: var(--whole-color);
      position: absolute;
      top: 3px;
      left: 3px;
      box-shadow: 2px 1px 5px rgb(0 0 0 / 50%);
      background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }
  }
  .button_main {
    max-width: 150px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #ffffff;
    cursor: pointer;
    background-color:#000;
    color: #ffffff;
    transition: 0.1s;
    &:hover {
      background-color: #ffffff;
      color: #000;
    }

  }
  .range{
    width: 400px;
    border-radius: 3px;
    border: none;
    height: 3px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    cursor: pointer;
    background: linear-gradient(to right, var(--tertiary-color) 0%, var(--tertiary-color) 0%, #fff 0%, #fff 100%);
  }
  .range::-webkit-slider-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    -webkit-appearance: none;
    background: var(--tertiary-color);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }
  .range_volume{
    width: 400px;
    border-radius: 3px;
    border: none;
    height: 3px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    cursor: pointer;
    background: linear-gradient(to right, var(--tertiary-color) 0%, var(--tertiary-color) 0%, #fff 0%, #fff 100%);
  }
  .range_volume::-webkit-slider-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    -webkit-appearance: none;
    background: var(--tertiary-color);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }
}
.hide{
  left: 100%;
}