$globe-width:   5px;
$globe-height:  5px;
$globe-spacing: 5px;
$globe-spread: 0px;
$light-off-opacity: 0.4;

.chain-garland {
  display: block;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin: 50px 0 0 0;
  padding: 0;
  pointer-events: none;
}
.li {
  position: relative;
  animation-fill-mode: both; 
  animation-iteration-count:infinite;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  width: $globe-width;
  height: $globe-height;
  border-radius: 50%;
  margin: 5px;
  margin-left: 15px;
  display: inline-block;
  background: rgba(0,247,165,1);
  box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,1);
  animation-duration: 2s;
}
