.categories_page {
  position: relative;
  transition-duration: 500ms;
  left: 0;
  .head_panel {
    display: flex;
    padding: 10px 10px;
    position: relative;
    width: calc(100% - 60px);
    margin: 0px auto;
    .button_back{
      display: flex;
      width: 100px;
      border-radius: 50px;
      padding: 10px;
      justify-content: center;
      border: 1px solid #ffffff;
      position: absolute;
      background-color:#000;
      color: #ffffff;
      cursor: pointer;
      transition: 0.1s;
      &:hover {
        background-color: #ffffff;
        color: #000;
      }
    }
    .head_name {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 10px;
      align-items: center;
    }
  }
  .categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .category{
      position: relative;
      width: 150px;
      border: 1px solid #000;
      margin: 20px;
      overflow: hidden;
      border-radius: 0px 0px 10px 10px;
      .category_img{
        width: 100%;
        height: 100%;
        aspect-ratio: 9 / 9;
        border-radius: 10px;
        background-position: center center;
        background-size: cover;
        cursor: pointer;
      }
      .category_round{
        margin-bottom: 20px;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items:flex-end;
        span{
          font-size: 18px;
          color: var(--tertiary-color);
        }
      }
      .category_score{
        border-radius: 0px 0px 10px 10px;
        width: 100%;
        position: absolute;
        height: 40px;
        bottom: -40px;
        display: flex;
        justify-content: center;
        padding: 10px;
        transition-duration: 200ms;
        cursor: pointer;
        background-color:aliceblue;
      }
    }
    .category:hover .category_score{
      bottom: 0px;
      background-color: var(--tertiary-color);
    }
  }
}
.hide{
  left: 100%;
}
